.gc-dialog {
  margin: 0px;
}

.gc-dialog-header {
  z-index: 0;
}

.gc-display-row {
  display: flex;
  flex-direction: row;
}

.gc-display-column {
  display: flex;
  flex-direction: column;
}

.gc-graph-controls-control {
  margin: 10px;
}

.gc-filters-wrapper {
  margin-bottom: 10px;
}

.gc-filters-item {
  padding-right: 10px;
}
